.card-container {
	text-align: center;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: #95dada;
	border: 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	-moz-osx-font-smoothing: grayscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	z-index: 10;
	transition: transform 0.25s ease-out;
}

.card-container:hover {
	transform: scale(1.05);
}

.image-style {
	padding-left: 40px;
	width: 200px;
	height: 200px;
}
